<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnnString"
        connectionString="data source = 209.45.54.221; initial catalog = X_TRA_BD00; user id = ADMSECURITY; password = u5$12!_0ij(OA"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>